@font-face {
  font-family: 'Assistant';
  src: url('../fonts/Assistant/Assistant-Regular.ttf');
}

@font-face {
  font-family: 'Assistant Bold';
  src: url('../fonts/Assistant/Assistant-Bold.ttf');
}

@font-face {
  font-family: 'Assistant Light';
  src: url('../fonts/Assistant/Assistant-Light.ttf');
}
