@font-face {
  font-family: 'Assistant';
  src: url(/static/fonts/Assistant/Assistant-Regular.ttf);
}

@font-face {
  font-family: 'Assistant Bold';
  src: url(/static/fonts/Assistant/Assistant-Bold.ttf);
}

@font-face {
  font-family: 'Assistant Light';
  src: url(/static/fonts/Assistant/Assistant-Light.ttf);
}
